.Table tbody td{
    padding: 0.4rem;
}

.Odd{
    background-color: #e9e8e8;
}

.Selected{
    background-color: aquamarine;
}

.Footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.Footer div{
    margin-top: 1rem;
}

.Footer div:first-child {
    margin-right: 2rem;
}