<div class="row justify-content-center">
    <div class="panel panel-default col-md-3">
        <div class="panel-body" id="login-block">
            <form class="form-horizontal">
                <fieldset>
                    <legend data-ml="1">Please, login</legend>
                    <div class="form-group">
                        <label for="login" class="col-lg-3 control-label" data-ml="1">Login</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="login" name="login" value="admin">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-lg-3 control-label" data-ml="1">Password</label>
                        <div class="col-lg-9">
                            <input type="password" class="form-control" id="password" name="password" value="ab-erp">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-9 col-lg-offset-3">
                            <button id="login-button" type="button" class="btn btn-primary" data-ml="1">Login</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>

    </div>
</div>