.DrawerToggle {
    width: 2.4rem;
    height: 2rem;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.DrawerToggle div {
    width: 90%;
    height: 3px;
    background-color: white;
}

@media (min-width: 500px) {
    .DrawerToggle {
        display: none;
    }
}