.Container {
    position: relative;
}

.Toolbar {
    position: relative;
    visibility: hidden;
    display: grid;
    grid-template-columns: min-content;
    grid-row-gap: 0.1rem;
    align-items: center;
}

@media (min-width: 40rem) {
    .Toolbar {
    }
}

.Toolbar.Show {
    visibility: visible;
}

.Toolbar button {
    border-radius: 0 6px 6px 0;
    padding: 0.2rem 0.4rem;
}