.Input:not([type=checkbox]) {
    outline: none;
    height: 2rem;
    width: 100%;
    padding: 0.2rem 0.3rem 0 0.3rem;
}

.Message {
    color: #f65846;
    line-height: 0.75rem;
    font-size: 0.75rem;
    min-height: 0.75rem;
    margin: 0.1rem 0 0.75rem 0;
}

.Input.Invalid {
    border: 1px solid red;
    background-color: #FDA49A;
}

.Input[type=checkbox] {
    height: 1.5rem;
    width: 1rem;
    margin: 0.25rem 0 0 0;   
}

.Label {
    justify-self: start;
    font-weight: bold;
    line-height: 2rem;
}

@media (min-width: 40rem) {
    .Label {
        justify-self: end;
    }
}