.Button {
    background-color: transparent;
    border: 1px solid #dddddd;
    color: black;
    outline: none;
    text-align: center;
    cursor: pointer;
    font: inherit;
    padding: 0.5rem 0.7rem;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}