.Button {
    outline: none;
    cursor: pointer;
    font: inherit;
    color: #000;
    padding: 0.5rem 0.7rem;
    border-radius: 3px;
    background-color: #fcfcfc;
    border-image: none;
    border-style: solid;
    border-width: 1px;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Primary {
    color: #fff;
    background-color: #2c39cd;
}
.Primary:hover {
    background-color: #222ca4;
}
.Primary:disabled {
    background-color: #575970;
}
